.head-title{
  margin-bottom: 5px;
}
#content::-webkit-scrollbar {
  display: none;
}
.card-header {
    display: flex;
    flex-direction: column;
}
.card-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card {
  box-shadow: 0 30px 30px -25px rgba(#4133B7, .25);
  border-radius: 16px;
}
.card-new {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}
.card-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    
}
/* Styling for text input */
#report-name {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Styling for file input */
  #file-input {
    margin-bottom: 10px;
  }
  
  /* Styling for date input */
  #date-picker {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #766969;
    
    padding: 10px;
    border-radius: 4px;
  }
  